.footer-section{
  background: linear-gradient(135deg, #3494E6, #EC6EAD);
  color:white;
  padding:2rem;
  text-align:center;
  margin:1rem 0;
}
@media screen and (max-width: 600px){
  .footer-section{
    font-size:.85rem;
    padding:1.5rem;
  }
}
@media screen and (max-width: 450px){
  .footer-section{
    font-size:.7rem;
  }
}