*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;
      color: #272829;
  background: linear-gradient(135deg, #3494E6, #EC6EAD);
  background-size: 100% 100%;
  background-attachment: fixed;
  }

